<button type="button" class="btn m-3" id="createNewBlog">Create new blog!</button>
<form class="d-none" id="newBlogForm">
  <div class="form-group">
    <label for="blogTitle">Title</label>
    <input type="text" class="createBlog" id="blogTitleInput" />
  </div>
  <div class="form-group">
    <label for="blogContent">Content</label>
    <textarea class="createBlog" id="blogContentInput" rows="3"></textarea>
  </div>
  <button type="button" class="btn btn-primary" id="submitBlog">Submit</button>
</form>
<div class="row container-fluid">
{{#if myBlogs.length}}
<div class="blog-list">
{{#each myBlogs as |myBlog|}}
  <div class="card mb-3">
    <div class="card-body">
      <button type="button" class="btn update-blog" id="update-id" updateId="{{myBlog.id}}">Update Blog</button>
      <button type="button" class="btn delete-blog" delete-id="{{myBlog.id}}">Delete Blog</button>
      <h5 class="card-title">{{myBlog.title}}</h5>
      <div class="card-title">Created by:
        {{myBlog.user.username}}
        on:
        {{format_date myBlog.createdAt}}</div>
      <p class="card-text">{{myBlog.contents}}</p>
      {{#each myBlog.comments}}
        <div class="card-body">
          <div class="card-title">Comment by:
            {{user.username}}
            on:
            {{format_date createdAt}}</div>
          <p class="card-text">{{contents}}</p>
        </div>
      {{/each}}
            <form class="d-none" id="update-blog-form-{{myBlog.id}}">
            <div class="form-group">
                <label for="blogTitle">Update Title</label>
                <input type="text" class="updateBlogTitleInput" id="blogTitleUpdate-{{myBlog.id}}" />
            </div>
            <div class="form-group">
                <label for="blogContent">Update Content</label>
                <textarea class="updateBlogContentInput" id="blogContentUpdate-{{myBlog.id}}" rows="3"></textarea>
            </div>
            <button type="button" class="btn" updateId="{{myBlog.id}}" id="submit-updated-blog">Submit</button>
            </form>
    </div>
  </div>
{{/each}}
{{/if}}
</div>
</div>

<script src="./js/dashboard.js"></script>